<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="interview_candidateModal" tabindex="-1" role="dialog" aria-labelledby="interview_candidateModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="interview_candidateModalTitle">Add Interview Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" id="first_name" placeholder="Enter Candidate's First Name">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" id="last_name" placeholder="Enter Candidate's Last Name">
                        </div>
                        <div class="form-group">
                            <label>Consultant Name</label>
                            <input type="text" class="form-control" id="consultant_name" placeholder="Enter Consultant's Name">
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            <input type="text" class="form-control" id="date" placeholder="Enter Date" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label>Vendor's Name</label>
                            <input type="text" class="form-control" id="vendor_name" placeholder="Enter Vendor's Details">
                        </div>
                        <div class="form-group">
                            <label>Technology</label>
                            <select type="text" class="form-control" id="input_Technology">
                                <option>Java developers (All modules)</option>
                                <option>UI developers (All modules)</option>
                                <option>OKTA</option>
                                <option>Devops (Automation tools like Chef, Puppet, Jenkins etc.)</option>
                                <option>IBM WebSphere Application Server</option>
                                <option>Oracle Weblogic Application Server</option>
                                <option>JBoss Application Server</option>
                                <option>VMWare Admin</option>
                                <option>Splunk Admin</option>
                                <option>Service Now Admin</option>
                                <option>Wild fly</option>
                                <option>Tomcat Application Server</option>
                                <option>Apache Web server</option>
                                <option>IBM HTTP Web server</option>
                                <option>All kinds of application servers and web servers</option>
                                <option>Microsoft Windows System Administrators</option>
                                <option>Red hat Linux System Administrators</option>
                                <option>Solaris Unix System Administrators</option>
                                <option>IBM DB2 System Administrators</option>
                                <option>RSA Aveksa (LNG)</option>
                                <option>Ping Access</option>
                                <option>Ping Federate</option>
                                <option>CA Siteminder</option>
                                <option>CA Identity Manager</option>
                                <option>Sailpoint Access Manager</option>
                                <option>Sailpoint Identity Manager</option>
                                <option>IBM Tivoli Access Manager</option>
                                <option>IBM Tivoli Identity Manager</option>
                                <option>NetIQ Access Manager</option>
                                <option>NetIQ Identity Manager</option>
                                <option>Oracle Access Manager</option>
                                <option>Oracle Identity Manager</option>
                                <option>Other Identity and Access Manager products</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Client's Name</label>
                            <input type="text" class="form-control" id="client_name" placeholder="Enter Client's Details">
                        </div>
                        <div class="form-group">
                            <label>Marketed By</label>
                            <input type="text" class="form-control" id="marketed_by" placeholder="Enter name of the Marketer">
                        </div>
                        <div class="form-group">
                            <label>Interviewer Names</label>
                            <input type="text" class="form-control" id="interviewer_names" placeholder="Enter Interviewer's Names">
                        </div>
                        <div class="form-group">
                            <label>Feedback</label>
                            <input type="text" class="form-control" id="feedback" placeholder="Give Feedback">
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <select type="text" class="form-control" id="state">
                                <option>About to schedule</option>
                                <option>Scheduled</option>
                                <option>Confirmed</option>
                                <option>Completed</option>
                                <option>Cancelled</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="interviewForm_submit" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="submit_interviewForm">
    $(document).ready(function () {
        $('#date').datepicker({
        });
        $("#interviewForm_submit").click(function () {
            $.ajax({
                type: 'GET',
                url: "/submitInterviewCandidate",
                contentType: 'application/json;charset=UTF-8',
                data: {
                    Firstname: document.getElementById("first_name").value,
                    Lastname: $('#last_name').val(),
                    Consultant_Name: $('#consultant_name').val(),
                    Date: $('#date').val(),
                    Vendor_Name: $('#vendor_name').val(),
                    Technology: $('#input_Technology').val(),
                    Client_Name: $('#client_name').val(),
                    Marketed_by: $('#marketed_by').val(),
                    Interviewer_Names: $('#interviewer_names').val(),
                    Feedback: $('#feedback').val(),
                    State: $('#state').val()
                },
                success: function (result) {
                    $('#interview_candidateModal').modal('hide')
                    document.getElementById("interview").innerHTML = result;
                    eval(document.getElementById("submit_interviewForm").innerHTML);
                }
            });
        });
    });
</script>