<div style="padding-left:20px">
    <ul class="nav nav-tabs" id="marketingTarget" role="tablist">
        {% for user in users.user_list %}
        <li class="nav-item">
            <a class="nav-link active" id="{{ user.user_id }}-marketingtab" data-toggle="tab" href="#{{ user.user_id }}-marketingcontent" role="tab" onclick="getUserData1('{{user.user_id}}')">
                {{ user.user_name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="marketingTargetContent">
        <div id="user-tasks">

        </div>
        {% for user in users.user_list %}
        <div class="tab-pane active" id="{{ user.user_id }}-marketingcontent" role="tabpanel">

        </div>
        {% endfor %}
    </div>
</div>