<div>
    <div id="logo">
        <!--<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.slidesharecdn.com%2Fstaffing-160914072941%2F95%2Fstaffing-principles-of-management-1-638.jpg%3Fcb%3D1473840868&imgrefurl=https%3A%2F%2Fwww.slideshare.net%2Fsaniejoiegestosani%2Fstaffing-66005859&tbnid=8vaWpUMCNDMSYM&vet=10CBEQxiAoAWoXChMIiPSv9fza6gIVAAAAAB0AAAAAEAY..i&docid=UN-Oke1UdPFG6M&w=638&h=479&itg=1&q=staffing%20images&ved=0CBEQxiAoAWoXChMIiPSv9fza6gIVAAAAAB0AAAAAEAY">-->
        <h7> STAFFING </h7>
    </div>
    {% include 'statistics.html' %}
</div>